<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>101.png</key>
			<dict>
				<key>frame</key>
				<string>{{688,0},{142,630}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{142,630}}</string>
				<key>sourceSize</key>
				<string>{142,630}</string>
			</dict>

			<key>102.png</key>
			<dict>
				<key>frame</key>
				<string>{{485,631},{191,630}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{191,630}}</string>
				<key>sourceSize</key>
				<string>{191,630}</string>
			</dict>

			<key>103.png</key>
			<dict>
				<key>frame</key>
				<string>{{498,0},{189,630}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{189,630}}</string>
				<key>sourceSize</key>
				<string>{189,630}</string>
			</dict>

			<key>104.png</key>
			<dict>
				<key>frame</key>
				<string>{{832,631},{135,630}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{135,630}}</string>
				<key>sourceSize</key>
				<string>{135,630}</string>
			</dict>

			<key>105.png</key>
			<dict>
				<key>frame</key>
				<string>{{465,1262},{207,630}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{207,630}}</string>
				<key>sourceSize</key>
				<string>{207,630}</string>
			</dict>

			<key>106.png</key>
			<dict>
				<key>frame</key>
				<string>{{673,1262},{182,630}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{182,630}}</string>
				<key>sourceSize</key>
				<string>{182,630}</string>
			</dict>

			<key>107.png</key>
			<dict>
				<key>frame</key>
				<string>{{968,631},{118,630}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{118,630}}</string>
				<key>sourceSize</key>
				<string>{118,630}</string>
			</dict>

			<key>108.png</key>
			<dict>
				<key>frame</key>
				<string>{{1087,631},{82,630}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{82,630}}</string>
				<key>sourceSize</key>
				<string>{82,630}</string>
			</dict>

			<key>109.png</key>
			<dict>
				<key>frame</key>
				<string>{{984,1262},{98,630}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{98,630}}</string>
				<key>sourceSize</key>
				<string>{98,630}</string>
			</dict>

			<key>110.png</key>
			<dict>
				<key>frame</key>
				<string>{{1084,0},{104,630}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{104,630}}</string>
				<key>sourceSize</key>
				<string>{104,630}</string>
			</dict>

			<key>111.png</key>
			<dict>
				<key>frame</key>
				<string>{{974,0},{109,630}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{109,630}}</string>
				<key>sourceSize</key>
				<string>{109,630}</string>
			</dict>

			<key>112.png</key>
			<dict>
				<key>frame</key>
				<string>{{274,0},{223,630}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{223,630}}</string>
				<key>sourceSize</key>
				<string>{223,630}</string>
			</dict>

			<key>113.png</key>
			<dict>
				<key>frame</key>
				<string>{{238,1262},{226,630}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{226,630}}</string>
				<key>sourceSize</key>
				<string>{226,630}</string>
			</dict>

			<key>114.png</key>
			<dict>
				<key>frame</key>
				<string>{{831,0},{142,630}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{142,630}}</string>
				<key>sourceSize</key>
				<string>{142,630}</string>
			</dict>

			<key>115.png</key>
			<dict>
				<key>frame</key>
				<string>{{1083,1262},{97,630}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{97,630}}</string>
				<key>sourceSize</key>
				<string>{97,630}</string>
			</dict>

			<key>116.png</key>
			<dict>
				<key>frame</key>
				<string>{{677,631},{154,630}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{154,630}}</string>
				<key>sourceSize</key>
				<string>{154,630}</string>
			</dict>

			<key>117.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1262},{237,630}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{237,630}}</string>
				<key>sourceSize</key>
				<string>{237,630}</string>
			</dict>

			<key>118.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,631},{259,630}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{259,630}}</string>
				<key>sourceSize</key>
				<string>{259,630}</string>
			</dict>

			<key>119.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{273,630}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{273,630}}</string>
				<key>sourceSize</key>
				<string>{273,630}</string>
			</dict>

			<key>120.png</key>
			<dict>
				<key>frame</key>
				<string>{{260,631},{224,630}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{224,630}}</string>
				<key>sourceSize</key>
				<string>{224,630}</string>
			</dict>

			<key>121.png</key>
			<dict>
				<key>frame</key>
				<string>{{856,1262},{127,630}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{127,630}}</string>
				<key>sourceSize</key>
				<string>{127,630}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,2048}</string>
			<key>textureFileName</key>
			<string>shadow.png</string>
			</dict>
		</dict>
</plist>